[submodule "3rdParty/material-design-icons"]
	path = 3rdParty/material-design-icons
	url = https://github.com/google/material-design-icons.git
	branch = 3.0.1
[submodule "3rdParty/android_openssl"]
	path = 3rdParty/android_openssl
	url = https://github.com/KDAB/android_openssl.git
[submodule "3rdParty/qhttpengine"]
	path = 3rdParty/qhttpengine
	url = https://github.com/Akaflieg-Freiburg/qhttpengine.git
[submodule "3rdParty/osm-liberty"]
	path = 3rdParty/osm-liberty
	url = https://github.com/maputnik/osm-liberty.git
[submodule "3rdParty/enrouteText"]
	path = 3rdParty/enrouteText
	url = https://github.com/Akaflieg-Freiburg/enrouteText.git
[submodule "3rdParty/KDSingleApplication"]
	path = 3rdParty/KDSingleApplication
	url = https://github.com/KDAB/KDSingleApplication.git
[submodule "3rdParty/sunset"]
	path = 3rdParty/sunset
	url = https://github.com/buelowp/sunset.git
[submodule "3rdParty/metaf"]
	path = 3rdParty/metaf
	url = https://gitlab.com/nnaumenko/metaf.git
[submodule "3rdParty/GSL"]
	path = 3rdParty/GSL
	url = https://github.com/microsoft/GSL.git
