*~

# build dirs
build/
build-android-release/
build-android-debug/
build-linux/
build-macos/
.project

# Doxygen generated documentation
doc/APIdoc


# secrets
generatedSources/pc-api-8548806115718303828-770-6966308588f6.json
CMakeLists_ios.txt

# IDE
.vscode
CMakeLists.txt.user

# Mac
.DS_Store

# fastlane
generatedSources/.bundle
generatedSources/rubyStuff
generatedSources/vendor
