*~

# build dirs
build/
build-android-release/
build-android-debug/
build-linux/
build-macos/
.gradle/

# Doxygen generated documentation
doc/APIdoc

# secrets
fastlane/api-key-googlePlay.json
fastlane/report.xml
CMakeLists_ios.txt

# IDE
.classpath
.project
CMakeLists.txt.user
**/.qmlls.ini

# Mac
**/.DS_Store

# fastlane
generatedSources/.bundle
generatedSources/rubyStuff
generatedSources/vendor
