name: Compile on MacOS

on:
  release:
    types: [published]
  push:
    branches: [main]

jobs:
  build:

    runs-on: macos-12
    
    steps:
    - name: Checkout Enroute
      uses: actions/checkout@v3
      with:
        path: enroute
        submodules: true
    - name: Set up macOS
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'
    - name: Install Ninja
      run: brew install ninja
    - name: Checkout qtlocation
      uses: actions/checkout@v3
      with:
        path: qtlocation
        repository: Akaflieg-Freiburg/qtlocationstatic
        submodules: true
    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '6.4.*'
        modules: 'qt5compat qthttpserver qtpositioning qtshadertools qtwebsockets'
    - name: Compile QtLocation
      run: |
        cmake -E make_directory build-qtlocation
        cd build-qtlocation
        qt-configure-module ../qtlocation
        cmake --build .
        cmake --install .
    - name: Compile Enroute Flight Navigation
      run: |
        cmake -E make_directory build-enroute
        cmake -S . -B build-enroute
        cmake --build build-enroute
