name: Compile on Windows

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Cache Qt
      id: cache-qt
      uses: actions/cache@v2
      with:
        path: ../Qt
        key: ${{ runner.os }}-QtCache
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        cached: ${{ steps.cache-qt.outputs.cache-hit }}
        version: '5.15.0'
    - name: Configure
      run: |
        cmake -E make_directory build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=Release -G "Visual Studio 16 2019"
    - name: Compile
      run: |
        cd build
        cmake --build .
    - name: Deploy
      run: |
        ${Qt5_Dir}\bin\windeployqt --verbose 2 --qmldir src\qml build\src\enroute
        dir
